*{
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
 }
 body{
    background-image: linear-gradient( 45deg, rgba(100,43,115,1), rgba(4,0,4,1));
    display: grid;
    height: 100vh;
    place-items: center;
    
 }
 .main{
    width: 400px;
    height: 450px;
    background-color: white;
    position: absolute;
    border: 1px solid black;
    box-shadow: 0px 0px 35px rgb(113, 33, 33), 1px 1px 30px rgb(0, 0, 0);
    border-radius: 10px; 

 }
 .main input[type='text'] {
    width: 88%;
    position: relative;
    height: 80px;
    top: 5px;
    text-align: right;
    padding: 3px 6px;
    outline: none;
    font-size: 40px;
    border: 0px solid black;
    box-shadow: 0px 0px 10px #28524a;
    display: flex;
    margin: auto;
    border-radius: 6px;
    color: black;
    margin-top: 5px;
    
 }
 .btn input[type='button']{
    width:90px;
    padding: 2px;
    margin: 2px 0px;
    position: relative;
    left: 13px;
    top: 20px;
    height: 60px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.5s;
    background-color: #495250;
    border-radius: 6px;
    color: white;
 }
 .btn input[type='button']:hover{
    background-color: black;
    color: white;
 }